build
.idea
cmake-build-debug
duckdb_unittest_tempdir/
.DS_Store
testext
test/python/__pycache__/
.Rhistory
venv/
bin/
lib64
pyvenv.cfg
.tmp
.claude/

results/
wip_docs/
temp_scripts/
benchmark
duckdb_benchmark_data/
jobdata/
tpchdata/

CLAUDE.md
TODO.md


# Custom bf implementation
src/optimizer/bloom_filter/